<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/_head.ejs') %> 
    <title>Profile</title>
</head>
<body>
    <%- include('./partials/_header.ejs') %>

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4"> Profile page </h1>
           
            
        </div>
        <hr><hr>
        <div class="w-75 text-white">
           Account Details
        </div>
    </div>
    <%- include('./partials/_footer.ejs') %> 
</body>
</html>
